@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="form-group">
        <label for="channelName">Channel Name</label>
        <div class="input-group">
            <input type="text" class="form-control" id="channelName" name="Group" placeholder="Enter the name of the channel and click on start">
            <div class="input-group-append">
                <button id="channel-btn" class="btn btn-outline-primary" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M14 12h-4v-12h4v12zm4.213-10.246l-1.213 1.599c2.984 1.732 5 4.955 5 8.647 0 5.514-4.486 10-10 10s-10-4.486-10-10c0-3.692 2.016-6.915 5-8.647l-1.213-1.599c-3.465 2.103-5.787 5.897-5.787 10.246 0 6.627 5.373 12 12 12s12-5.373 12-12c0-4.349-2.322-8.143-5.787-10.246z" /></svg></button>
            </div>
        </div>
    </div>
    <div id="work-area" class="invisible">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Data Form
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <form id="mainForm" action="SendMessage" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" name="Message" placeholder="Enter the message to send" rows="3"></textarea>
                                @*<input type="text" class="form-control" id="message" name="Message" placeholder="Enter the message to send">*@
                            </div>
                            <div class="form-group">
                                <label for="imageData">Image</label>
                                <input type="file" class="form-control" id="imageData" name="ImageData">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="tosCheck">
                                <label class="form-check-label" for="tosCheck">Accept <a href="/TermsOfService" target="_blank">Terms of Service</a></label>
                            </div>
                            <button id="submit" type="button" class="btn btn-primary" disabled>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Results
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div id="mainContent" class="card-deck">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/underscore.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
