@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Clipboard</h1>
    <h4>Drop images to include in the clipboard</h4>
</div>
<div class="row">
    <div class="span4 target"></div>
    <div class="span4 target"></div>
    <div class="span4 target"></div>
</div>
<div class="row">

    <div class="form-group">
        <label for="name">Enter the text to include in the clipboard</label>
        <textarea class="form-control" rows="8" cols="30" style="width:auto" placeholder="Enter text"></textarea>
    </div>

</div>

